<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Philipp Blandfort">

    {% if title %}
    <title>{{ title }} - {{ blog['title'] }}</title>
    {% else %}
    <title>{{ blog['title'] }}</title>
    {% endif %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style type="text/css">
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    color: {{ colors['outside_text'] }};
    background-color: {{ colors['outside_background'] }};
}


h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-family: "Besley", serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

a {
    text-decoration: none !important;
    color: {{ colors['highlight'] }};
}
a:focus {
    color: {{ colors['highlight'] }};
}
a:hover {
    color: {{ colors['highlight'] }};
    border-bottom: 1px dashed {{ colors['highlight'] }};
}

#title {
    font-size: 33px;
    font-family: "Besley", serif;
    font-style: normal;
    font-weight: 200;
    line-height: 1.5;
    color: {{ colors['title_text'] }};
}

#blogtitle {
    color: {{ colors['outside_text'] }};
    font-style: italic !important;
}
#blogtitle:hover {
    border-bottom: 0px dashed black;
}
#header {
    padding-top: 0.5em;
    background-color: {{ colors['title_background'] }};
    {% if colors['title_border'] %}border-bottom: 2px solid {{ colors['title_border'] }};{% endif %}
}
#header a:hover {
  border-bottom: none;
}

#content {
    padding: 0 10px;
    {% if colors['title_border'] %}border-top: 10px solid {{ colors['title_background'] }};{% endif %}
}
#main {
    {% if colors['main_shadow'] %}box-shadow: 0 0 3px {{ colors['main_shadow'] }};{% endif %}
    {% if colors['main_border'] %}border: 2px dashed {{ colors['main_border'] }};{% endif %}
    background-color: {{ colors['main_background'] }};
    color: {{ colors['main_text'] }};
}
#main h1, h2, h3, h4, h5, h6 {
    color: {{ colors['main_headers'] }};
}

#outside {
    font-style: italic;
    min-width: 200px;
}
#outside ul, #footer ul {
    list-style-type: none;
    padding: 0;
}
#outside li {
    display: inline;
    padding: 5px;
}
#outside a {
    font-style: normal;
}

#footer {
    font-size: 0.9rem;
}
#footer li {
    display: inline;
    padding: 10px;
}
#footer a {
    color: {{ colors['outside_text'] }};
}

code {
    color: {{ colors['code'] }};
}

    </style>
    </head>

    <body>
        <!-- START CONTENT -->
        <div class="mt-3 mb-3 text-left container-fluid">
        
            <div class="row justify-content-center">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6" id="main">
                
                    {% block content %}{% endblock %}

                </div>

                <div class="col-lg-3 p-3 text-center" id="outside">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <p><a href="/" id="blogtitle">{{ blog['title'] }}.</a></p>
                            <ul>
                                {% autoescape false %}
                                {% for item in menu %}
                                  <li>
                                    <a href="{{ item['link'] }}">{{ item['title'] }}.</a>
                                  </li>
                                {% endfor %}
                                {% endautoescape %}
                           </ul>
                            <p>{{ randomize(blog['subtitle']) }}.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <div class="container pb-5 text-center" id="footer">
            {% autoescape false %}
            {{ blog['copyright'] }}
            <ul>
            {% for item in footer_menu %}
                <li>
                    <a href="/posts/{{ item['post'] }}">{{ item['title'] }}</a>
                </li>
            {% endfor %}
            </ul>
            {% endautoescape %}
        </div>

    </body>
</html>
