{% extends "base.html" %}

{% block content %}

<div class="text-center row justify-content-center" id="header">
    <h1>
        <span class="navbar-brand" id="title">
        {{ post['title'] }}
        </span>
    </h1>
</div>

<div class="row pt-3 justify-content-center" id="content">
    <!-- START CONTENT -->
    <div class="text-start mx-auto">
        {% autoescape false %}
        {{ post['content'] }}
    </div>
      
    <div class="text-end mx-auto pt-4">
        <p><small><i>{% if post['created'] %}Created: {{ post['created'].strftime('%B %d, %Y') }}<br />{% endif %}
        Last modified: {{ post['modified'].strftime('%B %d, %Y') }}</i></small></p>
        {% endautoescape %}
    </div>
    <!-- END CONTENT -->
</div>

{% endblock %}
